In [4]:
#[1번]화면에 “c:\new”를 출력하는 코드를 작성
print("c:\\new")

c:\new

In [5]:
#[2번] 다음 실행결과는 확인하고 정상적으로 실행되도록 코드를 수정하시오.
year = int('2021')
year = year + 1
print(year)

2022

In [7]:
#[3번] tv가 36개월 무이자 할부로 월 32,500에 판매되고 있다. 변수를 사용해서 총금액을 계산해서 출력하는 코드는?
금액 = int(32500)
할부개월 = int(36)
print(금액*할부개월)

1170000

In [11]:
#[4번] 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하는 코드는?
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [12]:
#[5번] movie 리스트에 "미나리"을 추가하라
movie = ['분노의 질주', '극장판 귀멸의 칼날: 무한열차편', '스파이럴']
movie.append("미나리")
print(movie)

['분노의 질주', '극장판 귀멸의 칼날: 무한열차편', '스파이럴', '미나리']

In [15]:
#[6번] movie 리스트에서 '스파이럴'를 삭제하라.
movie = ['분노의 질주', '극장판 귀멸의 칼날: 무한열차편', '스파이럴', '미나리']
movie.remove("스파이럴")
print(movie)

['분노의 질주', '극장판 귀멸의 칼날: 무한열차편', '미나리']

In [16]:
#[7번] movie 리스트에 저장된 데이터의 갯수를 출력
movie = ['분노의 질주', '극장판 귀멸의 칼날: 무한열차편', '미나리']
print(len(movie))

3

In [17]:
#[8번] movie 리스트를 다음과 같이 출력되도록 코드를 작성  179 페이지 참조
'''
1. 분노의 질주
2. 극장판 귀멸의 칼날: 무한열차편
3. 미나리
'''
movie = ['분노의 질주', '극장판 귀멸의 칼날: 무한열차편', '미나리']
for i in movie:
    print(i)

분노의 질주
극장판 귀멸의 칼날: 무한열차편
미나리

In [18]:
#[9번] 다음 리스트의 평균을 출력하라.
nums = [1, 2, 3, 4, 5]
sum = 0
for i in nums:
    sum += i
    avg = sum/len(nums)
print(avg)

3.0

In [43]:
#[10번] 슬라이싱을 사용해서 홀수만 출력하라.
# 결과 : [1, 3, 5, 7, 9]
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[0:9:2])

[1, 3, 5, 7, 9]

In [49]:
#[11번] 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.
#함수선언
def print_score([*a]):
    
print_score([1, 2, 3])

SyntaxError: invalid syntax (<ipython-input-49-dae5771c1bc6>, line 4)

In [25]:
#[12번] 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.
#함수선언
def make_url(st):
    print("www.{}.com".format(st))

make_url("naver")   #실행결과 www.naver.com

www.naver.com

In [35]:
#[13번] 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.  힌트 : split()
''' 실행결과
년도: 2020
월: 04
일: 01
'''
date = "2020-05-01"
y, m, d = date.split('-')
print("년도:", y)
print("월:", m)
print("일:", d)

년도: 2020
월: 05
일: 01

In [44]:
#[14번] url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.  
# hint : .으로 split하여 마지막 요소를 출력
# 실행결과 : kr
url = "http://sharebook.kr"

h, d = url.split('.')
print(d)

kr

In [46]:
#[15번] 다음 코드를 for문으로 작성
'''
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)
'''
li = [10, 20, 30]
for 변수 in li:
    print(변수)

10
20
30

In [45]:
#[16번] or문을 사용해서 동물 이름의 첫 글자만 출력하라.
animal_list = ['dog', 'cat', 'parrot']

for i in animal_list:
    print(i[0])

d
c
p

In [36]:
#[17번] for문을 사용해서 리스트의 음수를 출력하라.
num_list = [3, -20, -3, 44]

for i in num_list:
    if i<0:
        print(i)

-20
-3

In [37]:
#[18번] for문을 사용해서 3의 배수만을 출력하라.
num_list = [3, 100, 23, 44]

for i in num_list:
    if i%3==0:
        print(i)

3

In [ ]:
#[19번] 리스트에서 대문자만 화면에 출력하라.
char_list = ["A", "b", "c", "D"]